<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="{{static_url("css/sb-admin-2.css")}}" rel="stylesheet">-->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">
    .row{
        margin-top: 0px;
        margin-right: 4px;
        margin-bottom: 0px;
        margin-left: 4px;
    }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
             <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                    域名请求分析
                <div class="pull-right">
                    <code><span style="font-size:15px;" id="detect_period"></span></code>
                </div>
            </div>
            <div class="panel-body">
                 <div id="main" style="width: 1200px;height:800px;"></div>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>

    </div>

    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.bootcss.com/echarts/3.2.2/echarts.min.js"></script>
    <script src={{static_url("js/content/draw_relation.js")}}></script>
<script>

    $(function(){
        manageData({% raw content_data %});
    });

</script>
</body>

</html>