{% extends "main_template.html" %}

{% block title_name %}
<title>站点域名解析数据检测与分析系统</title>
{% end %}

{% block page %}

<div class="container" style="margin-top: 10px">
    <div class="row">
    <header class="jumbotron">
        <h2>站点域名解析数据检测与分析系统</h2>
        <p>该系统通过模拟浏览器访问检测站点，采集探测点网卡解析数据，分析站点的解析数据</p>
        <p><a class="btn btn-primary btn-large">了解更多信息</a>
        </p>
    </header>

        <div class="page-header">
            <h2>主题分类</h2>
        </div>
         <p>探测站点的主题主要分为搜索引擎、新闻网站、门户网站、视频网站、购物网站等，同类网站进行相互比较。</p>
        <div class="page-header">
            <h3>搜索引擎</h3>
        </div>
        <p>百度、360搜索、soso、搜狗、bing搜索</p>
        <div class="page-header">
            <h3>新闻网站</h3>
        </div>
        <p>今日头条、网易新闻、腾讯新闻、光明网、凤凰网、新浪新闻</p>
        <div class="page-header">
            <h3>购物网站</h3>
        </div>
        <p>淘宝、京东、亚马逊、阿里巴巴</p>
        <div class="page-header">
            <h3>高校</h3>
        </div>
        <p>哈尔滨工业大学（威海）</p>
        <div class="page-header">
            <h3>视频网站</h3>
        </div>
        <p>爱奇异、bilibili、土豆视频</p>
        <div class="page-header">
            <h3>社区</h3>
        </div>
        <p>天涯论坛</p>


    </div>
</div>
{% end %}

{% block foot_script %}
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% end %}